/* Headline1, display4 */
.display4 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.09375rem;
  text-transform: lowercase;
}

.display4:first-letter {
  text-transform: uppercase;
}

/* Headline2, display3 */
.display3 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.03125rem;
  text-transform: lowercase;
}

.display3:first-letter {
  text-transform: uppercase;
}

/* Headline3, display2 */
.display2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: lowercase;
}

.display2:first-letter {
  text-transform: uppercase;
}

/* Headline4, display1 */
.display1 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  text-transform: lowercase;
}

.display1:first-letter {
  text-transform: uppercase;
}

/* Headline5, headline */
.headline {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: lowercase;
}

.headline:first-letter {
  text-transform: uppercase;
}

/* Headline6, title */
.title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
  text-transform: lowercase;
}

.title:first-letter {
  text-transform: uppercase;
}

/* subtitle1, subhead */
.subhead {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375rem;
  text-transform: lowercase;
}

.subhead:first-letter {
  text-transform: uppercase;
}

/* body1, body2 */
.body2 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
  text-transform: lowercase;
}

.body2:first-letter {
  text-transform: uppercase;
}

/* body2, body1 */
.body1 {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  text-transform: lowercase;
}

.body1:first-letter {
  text-transform: uppercase;
}

/* caption, caption */
.caption {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  text-transform: lowercase;
}

.caption:first-letter {
  text-transform: uppercase;
}

/* button, button */
.button {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
}

/* subtitle2, subtitle */
.subtitle {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  text-transform: lowercase;
}

.subtitle:first-letter {
  text-transform: uppercase;
}

/* overline, overline */
.overline {
  font-weight: 400;
  font-size: 0.625rem;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
