<div theme
     class="container">
  <h1>Hello</h1>
  <section>
    <button (click)="toggle()">Toggle</button>
  </section>
</div>
<br />
<br />
<br />
<p class="display4">display4 display4</p>
<p class="display3">display3 display3 display3</p>
<p class="display2">display2 display2 display2 display2</p>
<p class="display1">display1 display1 display1 display1display1 display1 display1</p>
<p class="headline">headline headline headline headline headline headline headline headline</p>
<p class="title">title title title title title title title title</p>
<p class="subhead">subhead subhead subhead subhead subhead subhead subhead subhead</p>
<p class="body2">body2 body2 body2 body2 body2 body2 body2 body2</p>
<p class="body1">body1 body1 body1 body1 body1 body1 body1 body1</p>
<p class="caption">caption caption caption caption caption caption caption caption</p>
<p class="button">button button button button button button button button</p>
<p class="subtitle">subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle</p>
<p class="overline">overline overline overline overline overline overline overline overline</p>
